!!! 5
%html
  %head
    %title Kontakts
    %link{:rel => "stylesheet", :href => "style.css"}/
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, user-scalable=no, minimal-ui"}/
    %meta{:name => "description", :content => "Kontakts: info@kontakts.lv / +371 25155412"}/
  %body
    %section
      %h1 Kontakts
      %h2
        %a{href: 'mailto:info@kontakts.lv'} info@kontakts.lv
      %h2
        %a{href: 'tel:+37125155412'} + 371 25155412
