!!! 5
%html
  %head
    %title Kontakts
    %link{:rel => "stylesheet", :href => "style.css"}/
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, minimal-ui"}/
  %body{:lang => "en"}
    %header
      %h1 Kontakts
      %a.contact{:href => "mailto:info@kontakts.lv"} Contact us
    %section#interface
      %h1 Human interface
      :plain
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0.292 0.292 128 128" class="logo">
          <path class="upper" d="M105.006,64.292v40.813H23.379V64.292H0.292c0-35.345,28.654-64,64-64c35.346,0,64,28.655,64,64H105.006z"/>
          <path class="lower" d="M101.952,64.292c0-13.656-7.27-25.615-18.149-32.218C72.92,38.677,65.667,50.482,65.667,64.292h36.287 c0,13.732-7.354,25.742-18.33,32.32c-10.779-6.727-17.973-18.832-17.973-32.32h-1.359v37.662c-20.799,0-37.662-16.862-37.662-37.662 h37.662v-37.66c-20.799,0-37.66,16.861-37.66,37.66H0.292c0,35.346,28.654,64,64,64c35.346,0,64-28.654,64-64H101.952z"/>
        </svg>
      %p User interface is the key to creating digital services that people enjoy using more than once. To understand how to make such services we study the audience and what they'll be using the service for. Then we structure the data and figure out the priorities. Styling is also very important to portray the function through visual language. In the end people spend less time figuring out and more time exploring your products or services.
    %section#style
      %h1 Style
      :plain
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0.292 0.292 128 128" class="logo">
          <path class="upper" d="M105.006,64.292v40.813H23.379V64.292H0.292c0-35.345,28.654-64,64-64c35.346,0,64,28.655,64,64H105.006z"/>
          <path class="lower" d="M101.952,64.292c0-13.656-7.27-25.615-18.149-32.218C72.92,38.677,65.667,50.482,65.667,64.292h36.287 c0,13.732-7.354,25.742-18.33,32.32c-10.779-6.727-17.973-18.832-17.973-32.32h-1.359v37.662c-20.799,0-37.662-16.862-37.662-37.662 h37.662v-37.66c-20.799,0-37.66,16.861-37.66,37.66H0.292c0,35.346,28.654,64,64,64c35.346,0,64-28.654,64-64H101.952z"/>
        </svg>
      %p Styling is essential to convey the message and functionality of anyones identity in any medium, including the web. If a person enters a site and can’t visually differentiate it from the last one &mdash; the lack of unique styling is to fault.
    %section#code
      %h1 Code
      :plain
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0.292 0.292 128 128" class="logo">
          <path class="upper" d="M105.006,64.292v40.813H23.379V64.292H0.292c0-35.345,28.654-64,64-64c35.346,0,64,28.655,64,64H105.006z"/>
          <path class="lower" d="M101.952,64.292c0-13.656-7.27-25.615-18.149-32.218C72.92,38.677,65.667,50.482,65.667,64.292h36.287 c0,13.732-7.354,25.742-18.33,32.32c-10.779-6.727-17.973-18.832-17.973-32.32h-1.359v37.662c-20.799,0-37.662-16.862-37.662-37.662 h37.662v-37.66c-20.799,0-37.66,16.861-37.66,37.66H0.292c0,35.346,28.654,64,64,64c35.346,0,64-28.654,64-64H101.952z"/>
        </svg>
      %p We keep our code simple and maintainable yet fitted with cutting-edge features and performance. Basics like linkable URLs, searchable text, and accessibility are essential. Quick loading and fluid scrolling, every single detail as fast, effortless and impeccable as you would expect from a world-class digital service. To accomplish all of this we work with powerful, fresh and proven tools whilst always stay on pulse of the new developments on the web &mdash; learning from only the best there is.
    %footer
      %a.contact{:href => "mailto:info@kontakts.lv"} Contact us