html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,em,img,q,strong,ol,ul,li,form,fieldset,label,input,textarea,table,tr,th,td,article,aside,footer,header,hgroup,menu,nav,section,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,footer,header,hgroup,menu,nav,section{display:block;}
a{color:inherit;text-decoration:none;outline:none;}
ol,ul{list-style:none;}

@font-face {
		font-family: 'Futura';
		src: url('fonts/futura-book.eot');
		src: url('fonts/futura-book.eot?#iefix') format('embedded-opentype'),
		     url('fonts/futura-book.woff') format('woff'),
		     url('fonts/futura-book.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
}

@font-face {
		font-family: 'Futura';
		src: url('fonts/futura-medium.eot');
		src: url('fonts/futura-medium.eot?#iefix') format('embedded-opentype'),
		     url('fonts/futura-medium.woff') format('woff'),
		     url('fonts/futura-medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
}

@mixin mobile {
	@media (max-width: 460px) {
		@content;
	}
}

body {
	text-align: center;
	font: 400 16px/1.5em 'Futura', sans-serif;
	text-transform: uppercase;
	min-width: 320px;
}

header {
	padding: 20vh 5vh;
	h1 {
		font-size: 40px;
		line-height: 1;
		font-weight: 500;
		letter-spacing: 5px;
		& + h2 {
			margin-top: 32px;
		}
	}
	h2 {
		font-size: 18px;
		line-height: 1em;
		text-transform: none;
		letter-spacing: .8px;
		& + h2 {
			margin-top: 0.5em
		}
	}
	&#web {
		background: #eb6767 url('web.png') center center no-repeat;
		background-size: contain;
	}
	&#style {
		background: #7257c0 url('style.png') center center no-repeat;
		background-size: cover;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

img {
	display: block;
	box-shadow: 0 0 1px rgba(0,0,0,.7), 0 10px 25px rgba(0,0,0,.07);
}

header, section {
	position: relative;
	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
		right: 0; left: 0;
		margin: 0 auto;
		background-color: inherit;
		border-radius: 100%;
	}
	&:before {
		top: -16px;
		@include size(30px);
	}
	&:after {
		bottom: -12px;
		@include size(22px 11px);
		border-radius: 0 0 22px 22px;
		z-index: 1;
	}
}

$height: 90vh;
$spacing-top: 4vh;
$spacing-bottom: 18vh;

section {
	position: relative;
	font-size: 0;
	height: $height;
	line-height: $height;
	padding: 10px 0;

	@include display(flex);
	@include justify-content(center);
	@include align-items(center);

	@include mobile {
		height: auto;
		padding: 5vh 0;
	}

	&.items-1 {
		.photo {
			width: 100%;
		}

		img {
			&:nth-child(2) {
				box-shadow: none !important;
			}
		}
	}
	&.items-2 {
		.photo {
			width: 45%;
		}
	}
	&.items-3 {
		.photo {
			width: 30%;
		}
	}

	h3 {
		display: block;
		font-size: 20px;
		line-height: 1;
		font-weight: 500;
		letter-spacing: 3px;
		position: absolute;
		bottom: 100%; right: 0; left: 0;
		margin-bottom: 30px;
	}

	.photos {
		@include display(flex);
		@include justify-content(center);
		@include align-items(center);
		@include align-content(flex-start);
		margin-top: $spacing-top;
		margin-bottom: $spacing-bottom;
		padding: 0 20px;

		@include mobile {
			@include flex-direction(column);
		}
	}

	.photo {
		$photo-height: 50vh;
		max-height: $photo-height + $spacing-top + $spacing-bottom;

		@include mobile {
			width: 100% !important;
			max-height: $height;
		}

		& + .photo {
			margin-left: 20px;
			@include mobile {
				margin-left: 0;
				margin-top: 20px;
			}
		}

		img {
			max-width: 100%;
			max-height: 100%;
			margin: 0 auto;
		}
	}

	.fader {
		@include display(block);
		position: relative;
		margin: 0;

		.photo {
			max-height: 86vh;
		}

		.photo + .photo {
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			margin: auto;

			@include transition(1.5s opacity ease-out 0.5s);
			&:hover {
				opacity: 0;
			}
		}
	}

	@mixin section-color($color) {
		& {
			background-color: $color;
		}
		h3 {
			color: $color;
			@if lightness($color) > 70% {
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}

	&#start {
		line-height: 1;
		background-color: #fff;
		height: $height;
		padding: 10px 0;

		h1 {
			font: 0/0 a;
			max-width: 256px;
			max-height: 256px;
			background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgdmlld0JveD0iMC4yOSAwLjI5IDEyOCAxMjgiPiAgPHBhdGggZD0iTTEwNS4wMSA2NC4yOXY0MC44MUgyMy4zOFY2NC4yOUgwLjI5YzAtMzUuMzQgMjguNjUtNjQgNjQtNjQgMzUuMzUgMCA2NCAyOC42NiA2NCA2NEgxMDUuMDF6Ii8+ICA8cGF0aCBmaWxsPSIjRkZGRkZGIiBjbGFzcz0ibG93ZXIiIGQ9Ik0xMDEuOTUgNjQuMjljMC0xMy42Ni03LjI3LTI1LjYxLTE4LjE1LTMyLjIyQzcyLjkyIDM4LjY4IDY1LjY3IDUwLjQ4IDY1LjY3IDY0LjI5aDM2LjI5YzAgMTMuNzMtNy4zNSAyNS43NC0xOC4zMyAzMi4zMiAtMTAuNzgtNi43My0xNy45Ny0xOC44My0xNy45Ny0zMi4zMmgtMS4zNnYzNy42NmMtMjAuOCAwLTM3LjY2LTE2Ljg2LTM3LjY2LTM3LjY2aDM3LjY2di0zNy42NmMtMjAuOCAwLTM3LjY2IDE2Ljg2LTM3LjY2IDM3LjY2SDAuMjljMCAzNS4zNSAyOC42NSA2NCA2NCA2NCAzNS4zNSAwIDY0LTI4LjY1IDY0LTY0SDEwMS45NXoiLz48L3N2Zz4=) 0 0 no-repeat;
			background-size: 100% 100%;
			position: absolute;
			top: 10vh; right: 0; bottom: 20vh; left: 0;
			margin: auto;
		}
	}

	&#end {
		height: 100vh;
		line-height: 1;
		background-color: #000;
		color: #fff;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		&:after {
			width: auto;
			height: auto;
			max-width: 256px;
			max-height: 256px;
			border-radius: 0;
			background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgdmlld0JveD0iMC4yOSAwLjI5IDEyOCAxMjgiPiAgPHBhdGggZD0iTTEwNS4wMSA2NC4yOXY0MC44MUgyMy4zOFY2NC4yOUgwLjI5YzAtMzUuMzQgMjguNjUtNjQgNjQtNjQgMzUuMzUgMCA2NCAyOC42NiA2NCA2NEgxMDUuMDF6Ii8+ICA8cGF0aCBmaWxsPSIjRkZGRkZGIiBjbGFzcz0ibG93ZXIiIGQ9Ik0xMDEuOTUgNjQuMjljMC0xMy42Ni03LjI3LTI1LjYxLTE4LjE1LTMyLjIyQzcyLjkyIDM4LjY4IDY1LjY3IDUwLjQ4IDY1LjY3IDY0LjI5aDM2LjI5YzAgMTMuNzMtNy4zNSAyNS43NC0xOC4zMyAzMi4zMiAtMTAuNzgtNi43My0xNy45Ny0xOC44My0xNy45Ny0zMi4zMmgtMS4zNnYzNy42NmMtMjAuOCAwLTM3LjY2LTE2Ljg2LTM3LjY2LTM3LjY2aDM3LjY2di0zNy42NmMtMjAuOCAwLTM3LjY2IDE2Ljg2LTM3LjY2IDM3LjY2SDAuMjljMCAzNS4zNSAyOC42NSA2NCA2NCA2NCAzNS4zNSAwIDY0LTI4LjY1IDY0LTY0SDEwMS45NXoiLz48L3N2Zz4=) 0 0 no-repeat;
			background-size: 100% 100%;
			position: absolute;
			top: 16vh; right: 0; bottom: calc(96px + 32vh); left: 0;
			margin: auto;
		}
		h1 {
			font-size: 32px;
			font-weight: 500;
			position: absolute;
			right: 0; bottom: 130px; left: 0;
			letter-spacing: 6px;
		}
		h3 {
			letter-spacing: 0;
			line-height: 1.5;
			bottom: 10px;
			font-weight: 400;
		}
	}

	&#szk {
		@include section-color(#fbfbfb);
	}

	&#kkcweb {
		@include section-color(#353b39);
	}

	&#wl {
		@include section-color(#fff);
	}

	&#trojaszirgs {
		@include section-color(#000);
	}

	&#fourseasonhouse {
		@include section-color(#cfdbd9);
	}

	&#kkcid {
		@include section-color(#f2f7f6);
		img:nth-child(2),
		img:nth-child(3) {
			box-shadow: 0 0 1px rgba(0,0,0,.7), 0 10px 25px rgba(0,0,0,.05);
		}
	}

	&#plakati {
		@include section-color(#191f2e);
		img:nth-child(1) {
			box-shadow: 0 0 1px rgba(0,0,0,.7), 0 10px 25px rgba(0,0,0,.03);
		}
		img:nth-child(2) {
			box-shadow: 0 0 1px rgba(0,0,0,.7), 0 10px 25px rgba(0,0,0,.1);
		}
	}

	&#piranesi {
		@include section-color(#ebf7f5);
	}

	&#books {
		@include section-color(#2a293e);
	}

	&#dazadi {
		@include section-color(#fff);
		img {
			box-shadow: none;
		}
	}
}
