!!! 5
%html
  %head
    %title Kontakts
    %link{:rel => "stylesheet", :href => "style.css"}/
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, minimal-ui"}/
  %body{:lang => "lv"}
    %section#start
      %h1 Kontakts
    %header#web
      %h1 Web dizains un izstrāde
      %h2 Datu analīze, informācijas arhitektūra un strukturēšana
      %h2 Dizains mobilajām ierīcēm un modernām sistēmām
      %h2 Satura vadības risinājumi
    %section.show#szk.items-3
      %h3
        %a{:href => "http://p.szk.lv/"} SZK un partneri
      %div.photo
        %img{:src => "img/szk-1.png"}/
        %img{:src => "img/szk-2.png"}/
        %img{:src => "img/szk-3.png"}/
    %section.show#kkcweb.items-2
      %h3
        %a{:href => "http://kanepes.lv"} Kaņepes Kultūras centrs
      %div.photo
        %img{:src => "img/kkcweb-1.png"}/
        %img{:src => "img/kkcweb-2.png"}/
    %section.show#fourseasonhouse.items-2
      %h3 4 Season House
      %div.photo
        %img{:src => "img/fourseasonhouse-1.png"}/
        %img{:src => "img/fourseasonhouse-2.png"}/
    %section.show#trojaszirgs.items-1
      %h3 Trojas zirgs
      %div.photo.fader
        %img{:src => "img/trojaszirgs-1.png"}/
        %img{:src => "img/trojaszirgs-2.png"}/
    %header#style
      %h1 Grafiskais dizains
      %h2 Zīmolu grafiskās identitātes
      %h2 Stila grāmatas un materiāli
      %h2 Plakāti un ilustrācijas
    %section.show#kkcid.items-3
      %h3 Grafiskā identitāte un materiāli
      %div.photo
        %img{:src => "img/kkcid-1.png"}/
        %img{:src => "img/kkcid-2.png"}/
        %img{:src => "img/kkcid-3.png"}/
    %section.show#plakati.items-3
      %h3 Plakāti
      %div.photo
        %img{:src => "img/muzejunakts.jpg"}/
        %img{:src => "img/brivdabasmuzejs-1.jpg"}/
        %img{:src => "img/brivdabasmuzejs-2.jpg"}/
    %section.show#montmartre.items-1
      %h3 Ilustrācijas
      %div.photo.fader
        %img{:src => "img/montmartre-1.jpg"}/
        %img{:src => "img/montmartre-2.jpg"}/
    %section.show#books.items-3
      %h3 Vāku noformējumi
      %div.photo
        %img{:src => "img/book-1.jpg"}/
        %img{:src => "img/book-2.jpg"}/
        %img{:src => "img/book-3.jpg"}/
    %section.show#dazadi.items-3
      %h3 Dažādi
      %div.photo
        %img{:src => "img/flyeris.jpg"}/
        %img{:src => "img/petijums.jpg"}/
        %img{:src => "img/kulturasministrija.png"}/
    %section#end
      %h1 Kontakts
      %h2 Kontakts
      %h3
        info@kontakts.lv
        %br/
        +371 25155412
